/* MEDIA QUERIES */
/* Mobile-sized */
@media (max-width: 767px){
    .qwe{
    background-color: gold;
    border: 1px solid white;
    height: 50px;
    }
    .font-bottom{
    font-size: 10px;
    color: darkgrey;
    text-align: center;
    }
    .edition-block{
    display: block;
    }
    .news-main-block{
    display: block;
    border-bottom: 1px solid gainsboro;
    padding: 10px;
    }
    .news-center-block{
    display: block;
    border-bottom: 1px solid gainsboro;
    padding: 10px;
    }
    .news-small-block{
    display: block;
    border-bottom: 1px solid gainsboro;
    padding: 10px;
    }
    .news-recent-block{
    border-top: 1px solid gainsboro;
    padding: 10px;
    }
    .social-media-block{
    border-top: 1px dotted gainsboro;
    padding-top: 20px;
    padding-bottom: 10px;
    }
   }
   /* Tablet-sized */
   @media (min-width: 768px) and (max-width: 991px){
    .qwe{
    background-color: yellow;
    border: 1px solid white;
    height: 40px;
    }
    .font-bottom{
    font-size: 10px;
    color: darkgrey;
    text-align: initial;
    }
    .edition-block{
    display: flex;
    justify-content: space-between;
    }
    .news-main-block{
    display: block;
    border-left: 1px solid gainsboro;
    padding: 10px;
    }
    .news-center-block{
    display: block;
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    padding: 10px;
    }
    .news-small-block{
    display: inline;
    border-inline-end-width: 1px;
    border-inline-end-style: solid;
    border-inline-end-color: gainsboro;
    padding: 10px;
    }
    .news-recent-block{
    border-top: 1px solid gainsboro;
    padding: 10px;
    }
    .social-media-block{
    border-top: 1px dotted gainsboro;
    padding-top: 20px;
    padding-bottom: 10px;
    }
   }
   /* Desktop-sized */
   @media (min-width: 980px){
    .qwe{
    background-color: whitesmoke;
    border: 1px solid white;
    height: 25px;
    }
    .font-bottom{
    font-size: 10px;
    color: darkgrey;
    text-align: initial;
    }
    .edition-block{
    display: inline;
    float: right;
    }
    .news-main-block{
    display: block;
    border-left: 1px solid gainsboro;
    padding: 10px;
    }
    .news-center-block{
    display: block;
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    padding: 10px;
    }
    .news-small-block{
    display: block;
    border-bottom: 1px solid gainsboro;
    padding: 10px;
    }
    .news-recent-block{
    border-top: 1px solid gainsboro;
    padding: 10px;
    }
    .social-media-block{
    border-top: 1px dotted grey;
    padding-top: 10px;
    padding-bottom: 10px;
    }
   }
   /* UNIVERSAL DESIGNS */
   a:link {
    color: darkgrey;
    }
   
    /* visited link */
    a:visited {
    color: grey;
    }
   
    /* mouse over link */
    a:hover {
    color: black;
    }
   
    /* selected link */
    a:active {
    color: steelblue;
    }
   .black-separator{
    background-color: black;
    height: 2px;
   }
   .black-line{
    background-color: black;
    height: 1px;
   }
   .filler{
    height: 50px;
   }
   .filler-sm{
    height: 20px;
   }
   .float-right{
    float: right;
   }
   .float-left{
    float: left;
   }
   .font-body{
    font-size: 14px;
    color: black;
   }
   .font-credit{
    font-size: 10px;
    color: lightslategrey;
   }
   .font-date{
    font-size: 12px;
    color: black;
    text-align: center;
   }
   .font-location{
    font-size: 14px;
    color: grey;
    font-variant-caps: all-small-caps;
   }
   .font-mini{
    font-size: 12px;
    font-variant-caps: all-small-caps;
   }
   .font-navbar{
    font-size: 12px;
    color:black;
    font-weight: bold;
   }
   .font-social{
    font-size:16px;
    color: grey;
    text-align: left;
   }
   .font-title{
    font-size: 16px;
    font-weight: bold;
    color:black;
   }
   .grey-double-up{
    background-color: gainsboro;
    height: 2px;
    margin-bottom: 2px;
   }
   .grey-double-down{
    background-color: gainsboro;
    height: 1px;
    margin-bottom: 8px;
   }
   .icon-facebook{
    font-size: 24px;
    color: #3c5a99;
    padding-right: 6px;
   }
   .icon-twitter{
    font-size: 24px;
    color: #1da1f2;
    padding-right: 6px;
   }
   .subscribe-box{
    border: 1px solid gainsboro;
    display: flex;
    padding: 10px;
   }
   .thumbnail{
    float: right;
   }
   .vertical-separator{
    background-color: gainsboro;
    align-self: center;
    width: 1px;
    margin-left: 8px;
    margin-right: 8px;
    height: inherit;
    min-height: 12px;
   }
   .mediadiv{
    background-color:rgb(105, 183, 188);
   }
   .letrasazul{
    font-family:Comic,arial,verdana;
    color:#95b7b7;
}
.letrasnaranja{
   font-family: verdana,Comic,arial;
   color:#ff9966;
   size:1;
}
.div-add {
    border: 2px;
    border-style: solid;
    border-width: medium;
    background:red;
}
.video-container {
    position: relative;
    padding-bottom: 50%; 
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    }
     
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
   

